.row {
    display: flex;
    justify-content: center;
  }

  
  .names-container1,
  .names-container2 {
    width: 50%;
    height: 32px;
  }
  
  .names-container1 {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-right-radius: 110px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomright: 110px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 110px;
    background-color: aliceblue;
    color: #E1411D;
  }
  
  .names-container2 {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-left-radius: 110px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomleft: 110px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 110px;
    background-color: aliceblue;
    color: #003BAC;
    float: right;
  }
  
  .red-card {
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
    background-color: #E1411D;
  }
  
  .yellow-card {
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-top-right-radius: 25px;
    background-color: #003BAC;
    float: right;
  }
  
  .odds-container,
  .odds-container1 {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8; 
  }

  .odds-container1 > p {
    line-height: 12px;
  }

  .odds-container > p {
    line-height: 12px;
  }

  .odds-container{
    float: right;
    background-color: white;
    margin-bottom: 40px;
    margin-right: 2px;
    width: 35%;
    height: 50px;
    display: flex;
    align-items: center;
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .odds-container p,
  .odds-container1 p {
    text-align: center;
  }

  .odds-container1 {
    margin-top: 32px;
    background-color: white;
    width: 30%;
    height: 50px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
  .t-p-p-container,
  .t-p-p-container1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .t-p-p-container {
    float: right;
  }
  
  .text-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .text-container > p {
    background-color: white;
    font-size: 10px;
    margin: 0;
    line-height: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .total-bets-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    opacity: 0.8;
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .total-bets-container1 {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    opacity: 0.8;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
  span {
    font-weight: bold;
    font-size: 12px;
  }

  .odd-span {
    font-size: 10px;
    font-weight: 300;
  }


  .place-bet-container{
    display: flex;
    justify-content: center;
    margin-left: 7px;
    height: 30px;
    font-style: italic;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 7px 8px -3px black;
  }

  .place-bet-container > p {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
  }


  .odd-pay-out {
    gap: 40px;
    font-weight: bold;
    line-height: 15px;
  }
  
  .payout-container {
    line-height: 15px;
    font-weight: bold;
    margin-left: 18px;
  }

  .odd-pay-out span,
  .payout-container span {
    color: #F0E45D;
  }

  .taya-total-container {
    width: 95%;
    height: 50%;
    background-color: #003BAC;
    font-weight: bold;
  }

  .taya-total-container > div {
    width: 100%;
    background-color: #1E1E1E;
    padding-left: 5px;
  }

  .taya-total-container > div > p {
    margin: 0;
    font-size: 13px;
  }
  .taya-total-container > div > h6 {
    font-size: 18px;
  }
   
  @media (max-width: 767px) {
    .red-card,
    .yellow-card {
      flex-direction: column;
    }
  
  }
  