* {
    padding: 0;
    margin: 0;
    /* outline: 1px solid white ; */
}

.event-headline-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prev-container {
    width: 15px;
    height: 10px;
}

.event-headline-text {
    margin-bottom: 0;
    padding-top: 0;
  }

  .event-headline-text > p,
  .event-headline-text > h5 {
    margin: 0;
  }

  .event-headline-text > p {
    font-size: 8px;
  }
  
  .event-headline-text > h5 {
    font-size: 15px;
  }

  .vector1 > p {
    font-size: 10px;
  }

  .event-headline-text p,
  .event-headline-text h2 {
    margin-top: 0;
    margin-bottom: 0;
  }