

/* PER GAME _ PICK ONE PHOTO */


.live-streaming-container {
   
   background: #000;
   
}

.pergame-pick1-container {
    gap: 3px;
    display: flex;
    
}

.pergame-pick1-container1 {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.per-game-photo {
    height: 30vh;
    width: 45%;
    background: rgb(122,113,161);
    background: linear-gradient(90deg, rgba(122,113,161,1) -25%, rgba(65,60,88,1) 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #7A71A1;
}


.per-game-photo1 {
    height: 25vh;

    background: rgb(122,113,161);
    background: linear-gradient(90deg, rgba(122,113,161,1) -25%, rgba(65,60,88,1) 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #7A71A1;
    font-style: italic;
}

.perGame-txt {
    font-weight: bold;
    color: #F0E45D;
    font-size: 25px;
}

.per-game-photo > h1 {
    font-size: 25px;
    font-style: italic;
    color: #F0E45D;
    font-weight: bold;
}

.per-game-photo > p {
    font-size: 15px;
    line-height: 15px;
}

.pick1-photo {
    height: 30vh;
    width: 45%;
    background: rgb(122,113,161);
    background: linear-gradient(90deg, rgba(122,113,161,1) -25%, rgba(65,60,88,1) 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #7A71A1;
}

.pick1-photo1 {
    height: 25vh;
    background: rgb(122,113,161);
    background: linear-gradient(90deg, rgba(122,113,161,1) -25%, rgba(65,60,88,1) 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #7A71A1;
}

.pick1-text {
    font-size: 15px;
    line-height: 15px;
}

.pick1-photo > h1 {
    font-size: 25px;
    font-style: italic;
    color: #F0E45D;
    font-weight: bold;
}