.player-cards-container {
    background-color: #0C1423;
    height: 30vh;
    width: 90vw;
    border: 2px solid #7A71A1;
}

.top-heading {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.per-game-text {
    font-style: italic;
    margin-left: 20px;
    font-size: 0.9em;

}

.date-played {
    font-style: italic;
    margin-left: 130px;
    padding-top: 10px;
    font-size: .7em;
}

.odds-container3 {
    gap: 100px;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    margin-top: 2px;
}

.view-match-text {
    color: #F0E45D;
    font-style: italic;
    font-size: 14px;
}

.player-cards-container1 {
    background-color: #0C1423;
    height: 30vh;
    width: 90vw;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid #7A71A1;
}

.tiger-arena-text {
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
}




























